# .gitattributes

# 此时 Git 会自动处理项目中所有文件的换行符
# 在提交时，Git 会把所有文件的换行符转换为 LF（\n）
# 在检出时，Git 会把所有文件的换行符转换为平台默认的换行符（在 Windows 上是 CRLF，即 \r\n；在 Unix 或 Linux 上是 LF）。
* text=auto

*.go text
*.mod text
*.log text
*.yaml text

